{% extends "basic.html" %}

{% block content %}
<article class="post animated fadeInDown">
  
  <div class="list-with-title">
    
    <div class="post-buffer">
      <h1>Archive</h1>
      {% set section_item = get_section(path="_index.md") %}
    {% for year, posts in section_item.pages | group_by(attribute="year") %}
    
      <h2>{{ year }}</h2>
      <ul class="listing">
        {% for post in posts %}
        <div class="listing-item">
          <div class="listing-post">
            <a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a>
            <div class="post-time"><span class="date">{{ post.date | date(format="%b %d") }}</span></div>
          </div>
        </div>
        {% endfor %}
      </ul>    
      {% endfor %}
      </div>
  </div>
</article>

{% endblock content %}
