<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href={{ get_url(path="icons/apple-touch-icon.png", trailing_slash=false) }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ get_url(path="icons/favicon-32x32.png", trailing_slash=false) }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ get_url(path="icons/favicon-16x16.png", trailing_slash=false) }}>
    <link rel="manifest" href={{ get_url(path="icons/site.webmanifest", trailing_slash=false) }}>
    <link rel="mask-icon" href={{ get_url(path="icons/safari-pinned-tab.svg", trailing_slash=false) }} color="#603cba">
    <link rel="shortcut icon" href={{ get_url(path="icons/favicon.ico", trailing_slash=false) }}>
    <meta name="apple-mobile-web-app-title" content="undertone">
    <meta name="application-name" content="undertone">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content={{ get_url(path="icons/browserconfig.xml", trailing_slash=false) }}>
    <meta name="theme-color" content="#2d89ef">

  <link rel="stylesheet" href={{ get_url(path="css/theme.css", trailing_slash=false) }} type="text/css">
  <link  href={{ get_url(path="css/fontawesome-5.15.3-all.min.css", trailing_slash=false) }} rel="stylesheet" type="text/css">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endif %}
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body>
<div id="sidebar" class="animated fadeInDown">
  <div class="logo-title">
    <div class="title">
      <object type="image/svg+xml" data={{ get_url(path="images/blog.svg" ) }} width="127px" height="127px"></object>
      <h3><a href="{{ get_url(path="@/_index.md") }}">{{ config.title }}</a></h3>
      <div class="description">
        <p>{{ config.description }}</p>
      </div>
    </div>
  </div>
  <ul class="social-links">
    {%- if config.extra.social.github -%}
    <li><a href="https://github.com/{{ config.extra.social.github }}"><i class="fab fa-github"></i></a></li>
    {%- endif -%}
    {% if config.extra.social.soundcloud -%}
    <li><a href="https://www.soundcloud.com/{{ config.extra.social.soundcloud }}/tracks"><i class="fab fa-soundcloud"></i></a></li>
    {%- endif -%}
    {%- if config.extra.social.twitter -%}
    <li><a href="https://twitter.com/{{ config.extra.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
    {%- endif -%}
    {%- if config.extra.social.instagram -%}
    <li><a href="https://www.instagram.com/{{ config.extra.social.instagram }}"><i class="fab fa-instagram"></i></a></li>
    {%- endif -%}
    {%- if config.extra.social.dribbble -%}
    <li><a href="https://dribbble.com/{{ config.extra.social.dribbble }}"><i class="fab fa-dribbble"></i></a></li>
    {%- endif -%}
    {%- if config.extra.social.weibo -%}
    <li><a href="https://weibo.com/{{ config.extra.social.weibo }}"><i class="fab fa-weibo"></i></a></li>
    {%- endif -%}
    {% block more_social_link %}
    {% endblock more_social_link %}
  </ul>
  <div class="footer">
    {% block footer %}
    <span>Designed by </span><a href="https://www.caicai.me">CaiCai</a>
    <div class="by_zola"><a href="https://www.getzola.org/" target="_blank">Proudly published with Zola!</a></div>
    {% endblock footer %}
  </div>
</div>
<div id="main">
  <div class="page-top animated fadeInDown">
    <div class="nav">
      <li><a {% if current_path == "/" or current_path is starting_with("/page/") %}class="current"{% endif %} href="{{ get_url(path="@/_index.md") }}">{{ trans(key="home") }}</a></li><li><a {% if current_path is starting_with("/about") %}class="current"{% endif %} href="{{ get_url(path="@/about/_index.md") }}">{{ trans(key="about") }}</a></li>
      {%- if config.extra.show.tags -%}
      <li><a {% if current_path is starting_with("/tags") %}class="current"{% endif %} href="{{ get_url(path="@/_index.md") }}tags">{{ trans(key="tags") }}</a></li>
      {%- endif -%}
      <li><a {% if current_path is starting_with("/archive") %}class="current"{% endif %} href="{{ get_url(path="@/archive/_index.md") }}">{{ trans(key="archive") }}</a></li>
      {%- if config.extra.show.links -%}
      <li><a {% if current_path is starting_with("/links") %}class="current"{% endif %} href="{{ get_url(path="@/links/_index.md") }}">{{ trans(key="links") }}</a></li>
      {%- endif -%}
    </div>
    <div class="information">
      <div class="back_btn">
        <li><a onclick="window.history.go(-1)" {% if current_path == "/" %}style="display:none;"{% endif %}><i class="fas fa-chevron-left"></i></a></li>
      </div>
      <div class="avatar"><object type="image/svg+xml" data="{{ get_url(path="images/undertone-logo-outline.svg") }}" width="32px" height="32px"></object></div>
    </div>
  </div>
  <div class="autopagerize_page_element">
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>
  </div>
</div>
</body>
</html>
